{% extends 'base.html' %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href="{% static 'css/soda_beta.css' %}">

    <div class="title">Soda</div>
    <div class="soda-menus">
        <div class="soda-menu"><a>Makeup</a></div>
        <div class="soda-menu">Style</div>
    </div>
{% endblock %}